<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express CRM REST API</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin-top: 8px;
      }
      code {
        color: white;
        background: gray;
        padding: 16px;
        border-radius: 4px;
      }
    </style>
  </head>
  <body>
    <h1>CRM REST API</h1>
    <p>To get started, clone this repository by using command</p>
    <code>> git clone https://github.com/www/crm-api-express.git</code>
  </body>
</html>
